@font-face{
/*StarJedi, TheForce, Montserrant, PixelRetro*/
    font-family: StarJedi;
    src: url(fonts/starjedi/Starjedi.ttf);
}
@font-face{
    font-family: PixelRetro;
    src: url(fonts/PressStart2P-Regular.ttf);    
}
@font-face{
    font-family: TheForce;
    src: url(fonts/AnakinmonoRegular-n1lP.ttf);    
}
@font-face{
    font-family: Montserrant;
    src: url(fonts/montserrat/Montserrat-Regular.ttf);    
}

#home_selectores, a{
    font-family: Montserrant;
    background-color: gold;
    color: black;
    padding: 15px;
    width: max-content;
}

body{
    background-color: rgb(22, 18, 18);
    background-image: url(fondos/space-stars.jpg);
}
h1{
    font-family: StarJedi, TheForce, Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 45px;

    /*Colores*/

    /*Colores del siStema*/
    color: goldenrod;

    /*Colores RGB*/
    color: rgb(218, 165, 32);

    /*Colores RGBA*/
    color: rgba(236, 174, 16, 0.500);
}
h3{
    font-family: TheForce, StarJedi, "Comic Sans MS";
    font-size: 35px;
    font-weight: lighter;

    /*Colores hexadecimales*/
    color: #eeeeee;

}
p{
    font-family: PixelRetro, Theforce;
    font-size: 18px;
    font-weight: bold;
    color: goldenrod;
}
.parrafo1{
    color: gray;
}
